<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>

    <link href="/css/home/shop.css" rel="stylesheet">
</head>
<body>
    <div id="all">
        <div id="first">
            <div id="main">
                <a href="/"><p id="mainBtn">home</p></a>
                <!-- <video max-height="800px" width="auto" controls>
                   <source src="/file/video/home/2.mp4" type="video/mp4">
                </video> -->
            </div>
        </div>
        <div id="second">
            <button id="btn">버튼</button>
            <!-- <audio autoplay controls> <source src="/file/audio/home/1.mp3" type="audio/mp3"> </audio> -->
            <div id="images">

            </div>
        </div>
    </div>
    <script src="/js/home/shop.js"></script>
</body>
</html>